h1, h3 {
	font-family: 'Helvetica', sans-serif
	font-weight: bold;
	font-size: 40px;
	text-align: center;

}
h4{
	font-family: 'Helvetica', sans-serif;
	font-weight: bold;
	font-size: 25px;
}
h5{
	font-family: 'Helvetica', sans-serif: ;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}
p{
	font-family: 'Georgia', serif;
	font-size: 17px;
}
.fixed-bottom {
	text-align: center;
	padding: 20px;
	margin-left: 10px;
	margin-top: 30px;
}
.footer{
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}
.btn-group {
	font-family: 'Georgia', serif;
	font-size: 12px;
	font-weight: bold;
	border: solid black 2px;
	margin: 10px;
}
.accordion-button{
	font-size: 25px;
	font-family: 'Helvetica', sans-serif;
	font-weight: bold;
	text-align: center;
}